<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github_ladybug" value="https://nuget.pkg.github.com/sergey-v9/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="github_ladybug">
      <package pattern="LadybugDB" />
      <package pattern="LadybugDB.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
